$device-xl: 'only screen and (min-width: 992px)';
$device-l: 'only screen and (min-width: 1200px)';
$device-m: 'only screen and (min-width: 768px)';
$device-s: 'only screen and (min-width: 600px)';
$device-xs: 'only screen and (max-width: 600px)';
