@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Source+Sans+Pro:400,600,700');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

// Font family
$--font-head: 'Source Sans Pro', sans-serif;
$--font-body: 'Noto Sans', Arial, sans-serif;
$--font-awesome: normal normal normal 18px/1 FontAwesome;

// Font weight
$--bold: 700;
$--semi-bold: 600;
$--regular: 400;

// Font size
$--font-size-desk-xl: 2.666em;
$--font-size-desk-lg: 1.8em;
$--font-size-desk-md: 1.33em;
$--font-size-desk-sm: 1em;
$--font-size-desk-xs: 0.88em;

$--font-size-mob-xl: 2.5em;
$--font-size-mob-lg: 1.5em;
$--font-size-mob-md: 1.25em;
$--font-size-mob-sm: 1em;
$--font-size-mob-xs: 0.875em;

:root {
    font: 16px / 1.75 $--font-body;
    font-weight: $--regular;
    color: $--grey-7;

    @media #{$device-sm-up} {
        font-size: 18px;
        font-weight: 1.77;
    }
}

// Headings
.--heading-xl {
    font-family: $--font-head;
    font-weight: $--bold;
    color: $--green-4;
    font-size: $--font-size-mob-xl;
    line-height: 1.2;
    margin: 0 0 24px;
    letter-spacing: -1px;

    @media #{$device-sm-up} {
        font-size: $--font-size-desk-xl;
        line-height: 1.125;
        margin: 0 0 32px;
    }
}

.--heading-l {
    font-family: $--font-head;
    font-weight: $--bold;
    font-size: $--font-size-mob-lg;
    line-height: 1.33;
    margin: 0 0 20px;

    @media #{$device-sm-up} {
        font-size: $--font-size-desk-lg;
        line-height: 1.125;
    }
}

.--heading-m {
    font-family: $--font-head;
    font-weight: $--bold;
    font-size: $--font-size-mob-md;
    line-height: 1.4;
    margin: 0 0 16px;

    @media #{$device-sm-up} {
        font-size: $--font-size-desk-md;
        line-height: 1.33;
    }
}

.--heading-m-form {
    margin: 0 0 8px;

    @media #{$device-sm-up} {
        font-size: 1.111em;
    }
}

.--body-m {
    font-size: $--font-size-mob-md;
    line-height: 1.4;
    margin: 0 0 32px;

    @media #{$device-sm-up} {
        font-size: $--font-size-desk-md;
        line-height: 1.33;
    }
}

p,
.--body-s {
    font-size: $--font-size-mob-sm;
    font-weight: $--regular;
    line-height: 1.75;
    margin: 0 0 24px;

    @media #{$device-sm-up} {
        font-size: $--font-size-desk-sm;
        line-height: 1.77;
    }
}

.--body-xs {
    color: $--grey-6;
    font-size: $--font-size-mob-xs;
    line-height: 1.71;
    margin: 0 0 8px;

    @media #{$device-sm-up} {
        font-size: $--font-size-desk-xs;
        line-height: 1.625;
    }
}

a {
    color: $--green-4;
    margin: 0 0 24px;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &:active,
    &:focus {
        outline: 3px solid $--focus-color;
    }
}

.--bullet--list {
    margin: 0 0 16px;
}

// Helper classes
.--weight-bold {
    font-weight: $--bold;
}

.--weight-semi-bold {
    font-weight: $--semi-bold;
}

.--weight-regular {
    font-weight: $--regular;
}
