.site-header {
  background-color: $--green-4;
  padding-top: 10px;

  @media #{$device-sm-up} {
    padding-top: 15px;
  }

  .header-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    padding: 0 10px;

    @media #{$device-sm-up} {
      margin-bottom: 15px;
    }
  }

  .header-logo {
    background-image: url(https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/logo-stockport-mobile%402x.png);
    background-size: cover;
    height: 35px;
    width: 175px;
    color: transparent;
    margin: 0;

    @media #{$device-sm-up} {
      background-image: url(https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/logo-stockport-full%402x.png);
      height: 50px;
      width: 250px;
    }
  }

  .header-myaccount-link {
    justify-self: end;
    text-decoration: none;

    i {
      padding-right: 10px;
    }
  }
}

.new-banner {
  background-color: $--green-7;
  color: $--white;
  padding: 10px;

  .new-icon {
    background-color: $--white;
    font-size: $--font-size-mob-sm;
    font-weight: $--bold;
    margin-right: 15px;
    padding: 5px 12px;
    color: $--green-5;
  }
}
